@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  @apply w-3 hidden tablet:block;
}

::-webkit-scrollbar-track {
  @apply bg-transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-muted rounded-full;
}

input[type="color"]::-moz-color-swatch {
  border: none;
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
  border-radius: 0;
}

input[type="color"]::-webkit-color-swatch {
  border: none;
}

@layer base {
  :root {
    --background: 258 100% 100%;
    --foreground: 258 5% 10%;
    --card: 258 50% 100%;
    --card-foreground: 258 5% 15%;
    --popover: 258 100% 100%;
    --popover-foreground: 258 100% 10%;
    --primary: 258 100% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 258 30% 90%;
    --secondary-foreground: 0 0% 0%;
    --muted: 220 30% 95%;
    --muted-foreground: 258 5% 40%;
    --accent: 220 30% 90%;
    --accent-foreground: 258 5% 15%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 258 5% 100%;
    --border: 258 30% 82%;
    --input: 258 30% 50%;
    --ring: 258 100% 50%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 258 50% 5%;
    --foreground: 258 5% 90%;
    --card: 258 50% 0%;
    --card-foreground: 258 5% 90%;
    --popover: 258 50% 5%;
    --popover-foreground: 258 5% 90%;
    --primary: 258 100% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 258 30% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 220 30% 15%;
    --muted-foreground: 258 5% 60%;
    --accent: 220 30% 15%;
    --accent-foreground: 258 5% 90%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 258 5% 90%;
    --border: 258 30% 18%;
    --input: 258 30% 18%;
    --ring: 258 100% 50%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  input[inputmode="numeric"] {
    @apply flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50;
  }
}

@layer utilities {
  .container {
    @apply max-w-[1920px] mx-auto px-[16px] tablet:px-[80px] desktop:px-[162px];
  }
}
